
@import '~@angular/material/theming'
@include mat-core()
$UI-primary: mat-palette($mat-indigo)
$UI-accent: mat-palette($mat-pink, A200, A100, A400)
$UI-warn: mat-palette($mat-red)
$UI-theme: mat-light-theme($UI-primary, $UI-accent, $UI-warn)
@include angular-material-theme($UI-theme)

html, body 
    height: 100%
body
    margin: 0 
    font-family: Roboto, "Helvetica Neue", sans-serif
